.controls-buttons {
  background-color: black;
  border: none;
  color: #ffd700;
  font-family: Iceland;
  font-size: 2em;
}

.controls-buttons:hover {
  animation: neon 1.5s ease-in-out infinite alternate;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}


@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffd700, 0 0 70px #ffd700, 0 0 80px #ffd700, 0 0 100px #ffd700, 0 0 150px #ffd700;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffd700, 0 0 35px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700, 0 0 75px #ffd700;
  }
}